<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>

    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-capitalize"><%= name %></h1>
                </div>
                <div class="col-md-5">
                    <nav class="nav justify-content-around justify content-md-end top-nav">
                        <a href="/" class="nav-link">Home 🏠</a>
                        <a href="/characters" class="nav-link">Characters</a>
                        <a href="/episodes" class="nav-link">Episodes</a>
                        <a href="/locations" class="nav-link"> All Locations</a>
                        <a href="/locations/type/Planet" class="nav-link">Planets</a>
                        <a href="/locations/type/Cluster" class="nav-link">Clusters</a>
                        <a href="/locations/type/Space station" class="nav-link">Space Station</a>
                        <a href="/locations/type/Microverse" class="nav-link">Microverse</a>
                        <a href="/locations/type/TV" class="nav-link">TV</a>
                        <a href="/locations/type/Resort" class="nav-link">Resort</a>
                        <a href="/locations/type/Fantasy town" class="nav-link">Fantasy Town</a>
                        <a href="/locations/type/Dream" class="nav-link">Dream</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>